*, ::before, ::after {
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1e8;
  --color-gray-2: #d2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b;
  --transition-setup: all .4s ease-in-out;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

body {
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: var(--transition-setup);
}

header {
  height: 100vh;
  color: var(--color-white);
  overflow: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3rem 18rem;
}

.section {
  transform: translateY(-100%) scale(0);
  transition: var(--transition-setup);
  background-color: var(--color-primary);
}

.hide {
  display: none;
}

.sec1 {
  transform: translateY(0) scale(1);
}

.sec2 {
  transform: translateY(0) scale(1);
}

.sec3 {
  transform: translateY(0) scale(1);
}

.sec4 {
  transform: translateY(0) scale(1);
}

.sec5 {
  transform: translateY(0) scale(1);
}

.active {
  animation: showSection 1s ease-in-out;
  @keyframes showSection {
    0% {
      transform: translateY(-100%) scale(0);
    }
    100% {
      transform: translateY(0) scale(1);
    }
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .active-btn {
    background-color: var(--color-secondary) !important;
    transition: var(--transition-setup);
    i {
      color: var(--color-white) !important;
    }
  }
  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-gray-4);
    font-size: 1.5rem;
    box-shadow: var(--box-shadow-1);
    border-radius: 50%;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .7rem 0;
    i {
      font-size: 1.2rem;
      color: var(--color-gray-2);
      pointer-events: none;
    }
  }
}

// home style
.home-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  .home-left-side {
    display: flex;
    align-items: center;
    position: relative;
    .home-shape {
      transition: var(--transition-setup);
      width: 65%;
      height: 100%;
      background-color: var(--color-secondary);
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
    }
    .home-img-container {
      border-radius: var(--br-sm-2);
      height: 90%;
      width: 68%;
      margin-left: 4rem;
      background-color: var(--color-black);
      transition: var(--transition-setup);
      .home-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: var(--transition-setup);
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
  .home-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 18rem;
    .name {
      // font-size: 2rem;
      span {
        color: var(--color-secondary);
      }
    }
    p {
      margin: 1.5rem 0;
      line-height: 2rem;
    }
  }
}

//About style
.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  .about-right-side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .about-item {
      border: 1px solid var(--color-gray-5);
      border-radius: 5px;
      transition: var(--transition-setup);
      box-shadow: 1px 2px 15px rgba(0,0,0,.1);
      &:hover {
        cursor: default;
        transform: translateY(-5px);
        border: 1px solid var(--color-secondary);
        box-shadow: 1px 4px 15px rgba(0,0,0,.32);
      }
      .about-text {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        .large-text {
          font-size: 3rem;
          font-weight: 700;
          color: var(--color-secondary);
        }
        .small-text {
          padding-left: 3rem;
          position: relative;
          text-transform: uppercase;
          font-size: 1.2rem;
          color: var(--color-gray-1);
          letter-spacing: 2px;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 15px;
            width: 2rem;
            height: 2px;
            background-color: var(--color-gray-5);
          }
        }
      }
    }
  }
  .about-left-side {
    padding-right: 5rem;
    p {
      line-height: 2rem;
      padding: 1rem;
      color: var(--color-gray-1);
    }
    h4 {
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
}

.about-stats {
  padding-bottom: 4rem;
  .progress-bars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .progress-bar {
      display: flex;
      flex-direction: column;
      .bar-title {
        text-transform: uppercase;
        font-weight: 500;
      }
      .bar-content {
        display: flex;
        align-items: center;
        .bar-text {
          color: var(--color-gray-2);
        }
        .bar-fill {
          width: 100%;
          height: .45rem;
          background-color: var(--color-gray-4);
          margin-left: 1rem;
          position: relative;
          span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: var(--color-secondary);
            transition: var(--transition-setup);
          }
          .html {
            width: 90%;
          }
          .css {
            width: 70%;
          }
          .javascript {
            width: 90%;
          }
          .vue {
            width: 75%;
          }
          .virtualbox{
            width: 75%;
          }
          .linux {
            width: 75%;
          }
          .pug {
            width: 65%;
          }
          .moleculer {
            width: 65%;
          }
          .mongodb {
            width: 65%;
          }
          .nginx {
            width: 50%;
          }
          .node {
            width: 85%;
          }
          .express {
            width: 85%;
          }
          .cypress {
            width: 75%;
          }
          .agile {
            width: 75%;
          }
        }
      }
    }
  }
}

.stat-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 3.5rem 0;
  position: relative;
  &::before {
    content: '';
    left: 50%;
    top: 0;
    width: 40%;
    height: 1px;
    background-color: var(--color-gray-5);
    transform: translateX(-50%);
  }
}

.about-timeline {
  display: flex;
  flex-direction: column;
  .timeline-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    padding-bottom: 3rem;
    .timeline-item {
      position: relative;
      padding-left: 3rem;
      border-left: 1px solid var(--color-gray-5);
      .tl-icon {
        position: absolute;
        left: -27px;
        top: 0;
        background-color: var(--color-secondary);
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          font-size: 1.3rem;
        }
      }
      .tl-duration {
        padding: .2rem .6rem;
        background-color: var(--color-gray-5);
        border-radius: 15px;
        display: inline-block;
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 500;
      }
      h5 {
        padding: 1rem 0;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: 600;
        span {
          color: var(--color-gray-2);
          font-weight: 500;
          font-size: 1.2rem;
        }
      }
      p {
        color: var(--color-gray-2);
      }
    }
  }
}


//reusable styled component
.download-btn-container {
  display: flex;
  align-self: flex-start;
}
.cv-download-btn {
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  align-items: center;
  overflow: hidden;
  .download-btn-text {
    padding: 0 2rem;
  }
  .download-btn-icon {
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1rem;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0%;
    transform: translateX(100%);
    transition: var(--transition-setup);
    z-index: -1;
  }
  &:hover {
    &::before {
      height: 100%;
      width: 100%;
      background-color: var(--color-secondary);
      transform: translateX(0);
    }
  }
}

.about-title {
  text-align: center;
  h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    span {
      color: var(--color-secondary);
    }
    .bg-text {
      position: absolute;
      top: 50%;
      left: 50%;
      color: var(--color-gray-5);
      transition: var(--transition-setup);
      z-index: -1;
      transform: translate(-50%, -50%);
      font-weight: 800;
      font-size: 6.3rem;
    }
  }
}




